client/ToolKit/Library/
client/ToolKit/Temp/
tools/compiler/compiler/bin/
tools/compiler/compiler/obj/
*.opensdf
*.sdf
*.meta
tools/cpp_embed_mono/cpp_embed_mono/Debug/
learn/csharp/async_await/async_await/obj/
learn/csharp/async_await/async_await/bin/
learn/csharp/Orleans/SiloHost3/SiloHost3/obj/
learn/csharp/Orleans/SiloHost3/SiloHost3/bin/
learn/csharp/Orleans/SiloHost3/packages/
learn/csharp/Orleans/SiloHost3/Grains3/obj/
learn/csharp/Orleans/SiloHost3/GrainInterfaces3/obj/
learn/csharp/Orleans/SiloHost3/Grains3/bin/
learn/csharp/Orleans/SiloHost3/GrainInterfaces3/bin/
learn/csharp/Orleans/SiloHost3/SiloHost3Client/bin/
learn/csharp/Orleans/SiloHost3/SiloHost3Client/obj/
learn/csharp/Orleans/SiloHost3/communication/EmployeeSiloHost/obj/
learn/csharp/Orleans/SiloHost3/communication/EmployeeSiloHost/bin/
learn/csharp/Orleans/SiloHost3/communication/EmployeeGrains/obj/
learn/csharp/Orleans/SiloHost3/communication/EmployeeGrainInterfaces/obj/
learn/csharp/Orleans/SiloHost3/communication/EmployeeClient/obj/
learn/csharp/Orleans/SiloHost3/communication/EmployeeClient/bin/
learn/csharp/Orleans/SiloHost3/Interaction/StockSiloHost/obj/
learn/csharp/Orleans/SiloHost3/Interaction/StockSiloHost/bin/
learn/csharp/Orleans/SiloHost3/Interaction/Stock.Grains/obj/
learn/csharp/Orleans/SiloHost3/Interaction/Stock.GrainInterfaces/obj/
*.db
tools/catcat/client/client/Debug/
